.navbar.bg-body-tertiary {
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: rgb(65, 64, 64);

}


div.container-fluid {
    background-color: rgb(65, 64, 64);
    padding: 0%;

}

:hover.nav-link.active {
    color: black;
}

:hover.nav-link.bs-link-opacity {
    color: black;
}

:hover.nav-link.bs-link-color-rgb {
    color: black;
}

a.navbar-brand {

    font-size: 15px;
    background-color: rgb(65, 64, 64);
    color: white;
    font-size: 20px;

}


.nav-link.bs-link-opacity {
    color: gray;

}

.nav-link.bs-link-color-rgb {
    color: green;
}

div.carousel-inner div.carousel-item::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2121218c;
    content: "";

}

div.carousel-caption {
    text-align: right;
    font-weight: 400;
}

.oradores {
    text-align: center;
    font-size: 15px;

}

div.row.row-cols-1.row-cols-md-3.g-4 {
    padding-left: 10%;
    padding-right: 10%;
}

.card-img-top {
    width: 100px;
    height: 350px;

}

.card.mb-6 {

    background-color: rgb(54, 53, 53);
    text-align: left;
    color: white;
    font-size: 13px;
    width: 100%;
    height: 100%;
    max-width: 1920px
}

.form-text {
    text-align: left;
}

div.row.mx-auto.p-2 {
    width: 60%;
}

.btn.btn-bg {
    background-color: #96C93E;
    border-bottom: #96C93E;
    color: white;
}

:hover.btn.btn-bg {
    background-color: #96C93E;
    border-bottom: #96C93E;
    color: white;
}

.nav.justify-content-center {
    background-color: #1D3947;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 100%;

}

a.nav-link {
    color: white;
    text-align: center !important;
}

/* Estilos de Comprar-ticket.html */

section.tickets {
    padding-left: 20%;
    margin-top: 20px;

}

div.card.card1 {
    border-color: #007BFF;
}

div.card.card2 {
    border-color: #17A2B8;
}

div.card.card3 {
    border-color: #FFC107;
}

section.oradores2 {
    text-align: center;
}

div.total {
    color: #004085;
    background-color: #CCE5FF;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 5px;
    /* padding-left: 5%;
    padding-right: 5%; */
    width: 98%;
    padding: 10px;


}

div.total {

    display: inline-flex;
}

#resultado {
    padding-top: 1rem;
    width: 85%;
    justify-content: left;
}

p.parrafo {
    padding-top: 1rem;
    width: 15%;
}

/* 
button.btn.btn-bg.boton1{
    margin-right: 2%;
    margin-left: 2%;
    
}
button.bs.btn.border.radius{
    border-radius: 0.40rem;
} */

button.btn.btn-bg {

    width: 49%;
}